---
import "../styles/fonts.css";
import "../styles/global.css";

export interface Props {
  title: string;
  publishDate: string;
  skills: string;
  description: string;
  imageLink: string;
  codeLink: string;
  liveLink: string;
}

const {
  title,
  publishDate,
  skills,
  description,
  imageLink,
  codeLink,
  liveLink,
} = Astro.props;
---

<style>
  img {
    width: 60%;
    border-radius: 0.5em;
  }
  p {
    color: dimgrey;
  }
  div {
    display: flex;
    justify-content: start;
  }

  .buttonContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    background-color: gainsboro;
    padding: 1em 3em;
    margin: 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
</style>

<div>
  <img src={imageLink} />
  <div class="buttonContainer">
    {codeLink && <a href={codeLink}>Code</a>}
    {liveLink && <a href={liveLink}>Live</a>}
  </div>
</div>

<p>{skills}</p>
